$dark-primary-color: #388E3C;
$primary-color: #8cc152;
$highlight-color: #f0f7e8;
$accent-color: #9bcb64;
$display-font: 'Roboto', Helvetica, Arial, sans-serif;
$primary-text: #212121;
$secondary-text: #727272;
$light-color: #B6B6B6;
$priority-high: #F44336;
$priority-medium: #F57C00;
